$activeColor: #24BDFF;

.main {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background: #ddd;
  .wrapper {
    margin-top: 1rem;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all .3s ease;
}
.fade-enter,.fade-leave-active {
  transform: translateX(100%);
}

.blue {
  color: $activeColor;
}
.mt30 {
  margin-top: 3rem;
}
