$activeColor: #24BDFF;

.main {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background: #ddd;
  .wrapper {
    margin-top: 1rem;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all .5s ease;
}
.fade-enter {
  transform: translateX(100%);
}