

.article-list {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}
.article-list > footer span,
.article-list > footer time {
    display: inline-block;
    color: #999;
    margin-right: 10px;
}