html,body {
    font-size: 14px;
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    min-height: 100%;
    color: #333;
}
*,::before,::after {
  box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  height: 0;
  clear: both;
  visibility: hidden;
}


